* {
}
body {
  background: rgb(266, 239, 229);
}
header {
	text-align: center;
}
.hlinks {
  display: inline;
  padding: 5px 5px 5px 5px;
color: white;
text-align: center;
}
.linkheader {
  padding: 10px 10px 10px 10px;
  background: rgba(0,0,0,0.5);
color: white;
}
.title {
	font-size: 60px;
	margin: 80px 10px 30px 10px;
}
h1 {
  text-align: center;
	font-family: 'Great Vibes', cursive;
}
table, tr {
	color: black;
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr {
	height: 50px;
}
td, th {
	padding: 15px;
	text-align: left;
}
th {
  color: black;
}
td, tr {
	color: black;
}
 article {
      max-width: 800px;
      padding: 20px;
      margin: 0 auto;
    }
h2 {
	text-align: center;
}
